body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.form {
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px;
    width: 400px;
    background-color: lightgreen;
    border-radius: 10px;
}