/* Reset some default styles and create a centered layout */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

/* Styling for the main form container */
.form {
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px;
    width: 400px;
    background-color: lightgreen;
    border-radius: 10px;
}

/* Styling for the input field */
.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0 ;
    border: none;
    font-size: 20px;
    font-family: cursive;
}

/* Styling for the input field's placeholder text */
.input::placeholder {
    color: lightgray;
}

/* Styling for the list of to-do items */
.list {
    padding: 0;
    margin: 0;
}

/* Styling for individual to-do list items */
.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    border-color: darkgray;
    position: relative;
}

/* Styling for the trash icon in each list item */
.list li .fa-trash{
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Styling for the checkmark icon in each list item */
.list li .fa-circle-check{
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Styling for checked (completed) list items */
.list li.checked {
    color: darkgrey;
    text-decoration: line-through;
}

/* Styling for the checkmark icon in checked items */
.list li.checked .fa-circle-check{
    color: darkgray;
} 
